.alert.alert-nopad {
	padding: 1px !important;
}

div.alert.alert-nopad {
	padding: 1px !important;
}

.footer {
  color: #777;
  border-top: 1px solid #e5e5e5;
  text-align: center; 
}

a.footlink, a.footlink:visited {
	color: #777;
	text-decoration: none; 
}

a.footlink:hover {
	color: blue;
	text-decoration: underline; 
}

.title > a > img {
	height: auto;
	max-width: 270px;
}
.footer > a> img {
	max-height: 80px;
	width: auto;
}

.text-highlight{
	color: red; 
	background-color: yellow;
}

.math-highlight{
	color: black; 
	background-color: yellow;
}

.math-highlight-qvar{
	color: red;
}
