body#main-body {
  border         : 3px solid rgba( 255, 255, 255, 0.8 );
  border-top     : 0;
  border-radius  : 0 0 10px 10px;
  background     : rgba( 255, 255, 255, 0.5 );
  margin         : 0 auto;
  width          : 960px;
}

#title img {
  max-width: 270px;
}

textarea {
  resize: none
}

#searchHolder {
  padding     : 100px 0 100px 0;
  text-align  : center;
}

#searchWrapper {
  position : relative;
  display  : inline-block;
  margin   : 0 auto;
}

#searchQuery {
  border-right: 0px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#searchQuery:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

#searchQuery:focus {
  outline: none;
}

#search-form {
  position: relative;
  margin: 0 auto;
}

#resultHolder table {
  display    : block
}

#resultHolder table th {
  padding        : 2px;
  text-align    : center;
}

#resultHolder table td {
  padding    : 2px 4px
}
#math-output {
    margin: 10px;
    font-size: 25pt;
    text-align: center;
}

footer {
  border-radius: inherit;
  border-top  : 1px solid #999;
  padding     : 7px;
  font-family : Verdana;
  font-size   : 10pt;
  color       : #333;
}

#footer-mws-logo {
  float: left;
  display: block;
}

#footer-description {
  margin: 0 10px;
  text-align: center;
}

.example {
  text-align: left;
}
#examples .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
}