.alert.alert-nopad {
	padding: 1px !important;
}

div.alert.alert-nopad {
	padding: 1px !important;
}

.footer {
  color: #777;
  border-top: 1px solid #e5e5e5;
  text-align: center; 
}

a.footlink, a.footlink:visited {
	color: #777;
	text-decoration: none; 
}

a.footlink:hover {
	color: blue;
	text-decoration: underline; 
}