* {
  word-wrap   : break-word
}

html#main-html {
  background: #fff; /* Old browsers */
  height      : 100%;
}

html:not(#main-html) {
  overflow: auto;
  height: auto;
}

body#main-body {
  border         : 3px solid rgba( 255, 255, 255, 0.8 );
  border-top     : 0;
  border-radius  : 0 0 10px 10px;
  background     : rgba( 255, 255, 255, 0.5 );
  margin         : 0 auto;
  width          : 960px;
}

body > header {
  display     : none;
  background  : orange;
}

a {
  cursor: pointer
}

h1#title {
  font-family : ProFontWindows, Verdana, Arial;
  font-size   : 30pt;
  font-weight : bold;
  text-shadow : 3px 3px 3px rgba(0, 0, 0, .5);
  color       : #fff;
}

#title img {
  max-width: 270px;
}

h3 {
  margin      : 5px 0 10px 0;
  font-family : Cousine-Bold, Verdana, arial;
  font-size   : 12pt;
  font-weight : bold;
  text-align  : center;
}

#title b {
  color : yellow
}

#title b span {
  color : white
}

textarea {
  resize: none
}

#searchHolder {
  padding     : 100px 0 100px 0;
  text-align  : center;
}

#searchWrapper {
  position : relative;
  display  : inline-block;
  margin   : 0 auto;
}

#searchQuery {
  border-right: 0px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#searchQuery:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

#searchQuery:focus {
  outline: none;
}

#search-form {
  position: relative;
  margin: 0 auto;
}

#language-selector,
#show-more-formula-pallete {
  position: absolute;
  right: 0;
  top: 0px;
  bottom: 0px;
  z-index: 900000;
  display: inline-block;
  border: 0;
  border-left: 1px solid #ccc;
}

#search {
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  width: 70px;
  font-weight: bold;
  text-decoration: none;
}

#language-selector {
  right: 70px;
  width: 150px;
}

#show-more-formula-pallete {
  right: 220px;
  border: 0;
}

#show-more-formula-pallete .handle {
  display: block;
  max-height: 26px;
  cursor: pointer;
}

/*#resultWrapper{
   position       : relative;
   border         : 1px solid #3681CC;
   border-top     : 0;
   border-radius  : 0 0 10px 10px;
   background     : rgba( 255, 255, 255, 0.75 );
    width                : 630px;
   margin         : 0 auto;
   padding        : 10px 10px 10px 10px;
   text-align     : left;
}
*/

.loading {
  display  : block;
  margin   : 10px auto;
}

#resultHolder table {
  display    : block
}

#resultHolder table th {
  padding        : 2px;
  text-align    : center;
}

#resultHolder table td {
  padding    : 2px 4px
}

a.collapseHandle {
  position    : absolute;
  bottom      : -12px;
  left        : 50%;
  right       : 50%;
  display     : block;
  background  : transparent url('../images/collapse_normal.png') no-repeat left top;
  margin      : 0 auto;
  width       : 24px;
  height      : 24px;
}

a.collapseHandle:focus,
a.collapseHandle:active,
a.collapseHandle:hover {
  outline     : none;
  background  : transparent url('../images/collapse_focus.png') no-repeat left top;
}

.handler {
  display: block;
  border-bottom: 1px solid #ccc;
  padding: 0;
  margin: 0;
  text-indent: 5px;
  text-decoration: none;
  color: #000;
}

.handler:nth-child(4n+1) {
  background: rgba(180, 200, 250, 0.5)
}

.tags {
  text-align: right
}

.tag {
  display: inline-block;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 2px;
  padding: 1px 3px;
  font-size: 8pt;
  text-indent: 0;
  color: #888;
}

footer {
  border-radius: inherit;
  border-top  : 1px solid #999;
  padding     : 7px;
  font-family : Verdana;
  font-size   : 10pt;
  color       : #333;
}

#footer-mws-logo {
  float: left;
  display: block;
}

#footer-description {
  margin: 0 10px;
}

#editor {
  display: none;
}
#math-output {
  margin: 10px;
  font-size: 25pt;
  text-align: center;
}
#math-output math {
  border: 2px solid #bbb;
  background: #fff;
  padding: 0 10px;
}
#results-display {
  text-align: left;
}
#results-display .statistics {
  text-indent: 20px;
}
.example {
  text-align: left;
}